body{
    color: black;
    align-items: center;
    background-color: rgb(64, 64, 64);
}
div {
    width: 100px;
    height: 100px;
    background: blue;
    position: relative;
    margin: 20px;
}
.important {
    font-weight: bold;
}
.test {
    color: red;
}